<?xml version="1.0" encoding="utf-8" ?>
<HidConfig>
    <JumpTime1>1</JumpTime1>
	<JumpTime2>1</JumpTime2>
	<JumpTime3>1</JumpTime3>
	<JumpTime4>1</JumpTime4>
	<JumpTime5>1</JumpTime5>
	<JumpTime6>1</JumpTime6>
	<JumpTime7>1</JumpTime7>
	<JumpTime8>1</JumpTime8>
	<JumpTime9>1</JumpTime9>
	<HorseVid>1155</HorseVid>
	<HorsePid>22352</HorsePid>
	<UseConfig>1</UseConfig>
	<ConnectPort>COM3</ConnectPort>
</HidConfig>